<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Please login</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" ng-model="username" id="username" placeholder="Username" required >
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" ng-model="password" id="password" placeholder="Password" required>
                    </div>
                    <button class="btn btn-success" ng-click="Login()" ng-model="button" ng-disabled="!username || !password">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>