<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Please login</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="Password">
                    </div>
                    <button class="btn btn-success" ng-click="Login()">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>