<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Projects</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Billable</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in projects">
                            <td>{{project.pk}}</td>
                            <td>{{project.title}}</td>
                            <td>{{project.description}}</td>
                            <td>{{project.start_date}}</td>
                            <td>{{project.end_date}}</td>
                            <td>{{project.is_billable}}</td>
                            <td>{{project.is_active}}</td>
                            <td>
                                <button class="btn btn-warning btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>